@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

.swiper-pagination {
  bottom: 0px !important;
}

.abc .swiper-pagination {
  bottom: -9px !important;
}

@font-face {
  font-family: Mazda type;
  src: url(../asset/font/mazda-type-regular.woff2);
}

@font-face {
  font-family: Mazda patrick;
  src: url(../asset/font/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: Mazda robo;
  src: url(../asset/font/Montserrat-Light.ttf);
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-left {
  text-align: left;
}

.abc {
  .swiper-slide {
    width: fit-content !important;
  }

  .swiper-pagination {
    bottom: -19px !important;
  }

  .swiper-wrapper {
    position: unset !important
  }

  .swiper-button-prev::after {
    content: '';
    width: 50px;
    height: 27px;
    background-image: url(/_next/static/media/images.61f14eb4.png);
    background-size: cover;
    transform: rotate(180deg);
    cursor: pointer;
  }

  .swiper-button-next::after {
    content: '';
    width: 50px;
    height: 27px;
    background-image: url(/_next/static/media/images.61f14eb4.png);
    background-size: cover;
    cursor: pointer;
  }
}