.mySwiper {
  position: unset !important;
  padding: 8px !important;
}
.pagination {
}
.containerProductTag {
  .nameTag,
  .desTag {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    p {
      word-break: break-all;
    }
    img,
    iframe {
      display: none;
    }
  }
}

@media (max-width: 430px) {
  .news {
    width: 100%;
    border-bottom: 1px solid rgb(138, 138, 138);
  }
}
.news .hh3 {
  background-image: linear-gradient(13deg, black, #bc2020, green, transparent);
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.description {
  word-break: break-all;
  img,
  iframe {
    display: none;
  }
  p {
    font-size: 14px;
    word-break: break-all;
  }
}
