.dangerouslySet {
  img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin: auto;
  }
  iframe {
    width: 600px;
    height: 360px;
    margin: auto;
  }
  p {
    font-size: 14px;
  }
}
